<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/mapa.css" rel="stylesheet">
    <title>Mapa</title>
</head>
<body>
    <label>Estas son tus rutas disponibles <span id="nombre"></span></label>
    <div id="map"></div>
    <div>Sucursal 1 Tiempo Estimado: <span id="ruta1"></span></div>
    <div>Sucursal 2 Tiempo Estimado: <span id="ruta2"></span></div>
    <div>Sucursal 3 Tiempo Estimado: <span id="ruta3"></span></div>
    <div>Sucursal 4 Tiempo Estimado: <span id="ruta4"></span></div>
    <div>Sucursal 5 Tiempo Estimado: <span id="ruta5"></span></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCMwYVJyXuQHkzHJkrGs_So5Q3iIKtUgs&libraries=geometry&callback=initMap" async defer></script>

    <script src="/mapa.js"></script>
</body>
</html>